.px-3
  %header.row.mb-5
    .d-flex.col-lg-12.p-3
      .flex-grow-1
        %h2 Affinity Platform
        %h5.subtitle.m-0 Create an app by chaining components
      .d-flex.flex-wrap.align-content-center
        #import.btn.mr-1
          %i.fa.fa-upload.mr-1
          Import Component
        #generate.btn.mr-1
          %i.fa.fa-print.mr-1
          Generate Script
        %div.d-inline-block
          - if user_signed_in?
            .btn-group
              = link_to 'Edit Profile', edit_user_registration_path, class: 'navbar-link btn btn-info'
              = link_to "Logout", destroy_user_session_path, method: :delete, data: { toggle: "tooltip", placement: "bottom" }, title: "Logged in as #{current_user.email}", class: 'navbar-link btn btn-info'
          - else
            .btn-group
              = link_to "Sign Up", new_user_registration_path, class: 'navbar-link btn btn-info'
              = link_to "Login", new_user_session_path, class: 'navbar-link btn btn-info'
  .row
    .col-lg-12.px-3
      .row.pt-2
        .col-lg-3
          = text_field_tag :search, nil, placeholder: 'Search for a Component...', class: "form-control", data: { list: @components.join(', ') }
          %hr.border-white
          #edge.btn.btn-outline-info
            %i.fa.fa-level-up
          #wedge.btn.btn-outline-info
            %i.fa.fa-long-arrow-right
          #delete.btn.btn-outline-danger.float-right
            %i.fa.fa-trash
          %hr.border-white
          %ul.nav.nav-pills.nav-fill
            %li.nav-item
              %a.nav-link.active{href: ""}
                %i.fa.fa-search.mr-1
                Recent
            %li.nav-item
              %a.nav-link{href: ""}
                %i.fa.fa-lg.fa-user-circle.mr-1{style: "font-size: 1.15em"}
                Private
            %li.nav-item
              %a.nav-link{href: ""}
                %i.fa.fa-lg.fa-github.mr-1
                GitHub
          #components
          %hr.mt-0
        .col-lg-9
          #ring
  %hr
  .row.hidden
    .col-lg-12
      = text_area_tag 'script', "", rows: 10, class: "form-control"

#componentDetails.modal.fade
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        %h4.modal-title Component Options
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      .modal-body